.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.btn {
  padding: 20px 30px;
  margin-bottom: 30px;
  border: 5px dotted black;
  background-color: limegreen;
  color: black;
  font-size: 20px;
}
